.container {
    margin-top: 30px;
}
.title {
    color: rgb(88, 88, 88);
    text-align: center;
}
h3 {
    margin-top: 10px;
}
img {
    width: 40%;
    height: auto;
    margin: auto;
}

.card {
    width: 300px;
    height: auto;
    margin: auto;
}