@import url(../button.css);
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.box {
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    border-radius: 3px;
}

.box input {
    width: 90%;
}

.box .panel {
    width: 90%;
}

.is-horizontal {
    margin-bottom: 15px;
}
