@import url(../button.css);
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.box {
    width: 70%;
    margin: auto;
}

.box button {
    margin-top: 6px;
}
