<div class="modal" [ngClass]="{'is-active': displayItemModal}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="newPlantForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="" formControlName="name" [value]="newPlantForm.get('name')">
        </div>
      </div>

      <div class="field">
        <label class="label">Type</label>
        <div class="control">
          <input class="input" type="text" placeholder="" formControlName="type" (focus)="showTypePanel = true" [value]="newPlantForm.get('type')">
          <article class="panel" *ngIf="showTypePanel">
            <a class="panel-block" (click)="setType('leaf')">
              <span class="panel-icon">
                <i class="fi fi-rr-leaf"></i>
              </span>
              leaf
            </a>
            <a class="panel-block" (click)="setType('ground')">
              <span class="panel-icon">
                <i class="fi fi-rr-leaf"></i>
              </span>
              ground
            </a>
          </article>
        </div>
      </div>

      <button class="button" type="submit">Save</button>
    </form>
  </div>
  <button class="modal-close is-large" (click)="toggleModal()" aria-label="close"></button>
</div>