<div class="modal" [ngClass]="{'is-active': displayItemModal}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="newPlantForm" (ngSubmit)="onSubmmit()">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Variety</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="name" [value]="newPlantForm.get('name')">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="type"
                (focus)="showTypePanel = !categoryEmpty()" 
                [value]="newPlantForm.get('type')">
              <article class="panel" *ngIf="showTypePanel">
                <a *ngFor="let category of categories" class="panel-block" (click)="setType(category)">
                  <span class="panel-icon">
                    <i class="fi fi-rr-leaf"></i>
                  </span>
                  {{category}}
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-success" type="submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <button class="modal-close is-large" (click)="toggleModal()" aria-label="close"></button>
</div>