<div class="modal" [ngClass]="{'is-active': displayModal}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" (ngSubmit)="onSubmmit()">
            <div #logArea class="textarea" contenteditable="true" (input)="log=logArea.innerText"
                (paste)="onPaste($event)"></div>
            <ngx-dropzone class="dropzone" (change)="onSelect($event)" *ngIf="files.length>=0">
                <ngx-dropzone-label>Click or Drop image here.</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <button class="button" type="submit">Save</button>
        </form>
    </div>
    <button class="modal-close is-large" (click)="toggleModal()" aria-label="close"></button>
</div>