<div id="items-table">
    <div class="level">
        <div class="level-left">
            <h1 class="level-item title">Items</h1>
        </div>
        <div class="level-right">
            <input #search id="search" class="level-item input is-rounded" type="text" placeholder="Search" (keyup)="filterItems(search.value)">
            <button class="button is-rounded" (click)="itemModal.newItem()">Add</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Type</th>
            <th>CreateDate</th>
            <th>Finished</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.createDate | date:'longDate'}}</td>
                <td>
                    {{item.finished}}
                    <span class="tag is-danger" (click)="deleteModal.delteItem(item.id)">delete</span>
                    <span class="tag is-light" (click)="itemModal.editItem(item)">edit</span>
                    <span class="tag is-link" [routerLink]="['/plant-detail', item.id]">detail</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-plant-item-modal #itemModal></app-plant-item-modal>
<app-delete-item-modal #deleteModal></app-delete-item-modal>