@import url(../button.css);
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

#items-table {
    margin: 20px 40px 0px;
}

#search {
    width: 150px;
}

table {
    background-color: #F4FCD9;
    white-space: nowrap;
    table-layout: fixed;
    overflow:visible;
}

th {
    font-weight: 600;
    width: 160px;
}

/* prevent detail-btn overflow */
#head {
    width: 200px;
}

tr:hover {
    background-color: #E3CAA5;
}

tr input {
    width: 140px;
}

tr input.date-picker {
    width: 158px;
}

/* table button style */
table .tag {
    cursor: pointer;
    position: relative;
    top: 7px;
    margin-left: 3px;
}

#delete-btn {
    float: right;
    margin-right: 5px;
}

td {
    padding: 1px;
}

tr input {
    border: none;
    box-shadow: 0px 0px 0px 0px;
    background-color: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus {
    background-color: rgb(255, 255, 255);
}

.checkbox input {
    width: 40px;
    position: relative;
    top: 10px;
    height: 15px;
}

i {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

#rating {
    position: relative;
    top: 7px;
    cursor: pointer;
}

td .panel {
    margin-top: 8px;
    background-color: white;
    border-radius: 3px;
    position: fixed;
    z-index: 1;
}

.panel-block,
.panel-tabs {
    border-bottom: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}