@import url(../button.css);
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

#items-table {
    margin: 20px 40px 0px;
}

#search {
    width: 150px;
}

table {
    width: 100%;
    background-color: #F4FCD9;
}

th {
    font-weight: 600;
}

tr:hover {
    background-color: #E3CAA5;
}

table .tag {
    float: right;
    cursor: pointer;
    position: relative;
    top: 8px;
    margin-right: 5px;
}

td {
    width: 100px;
    padding: 1px;
}

tr input {
    border: none;
    box-shadow: 0px 0px 0px 0px;
    background-color: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus {
    background-color: rgb(255, 255, 255);
}

#detail-button {
    float: none;
    margin-left: 3px;
}

.checkbox input {
    width: 40px;
    position: relative;
    top: 10px;
    height: 15px;
}

span i {
    position: relative;
    top: 1px;
    margin-right: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* prevent #detail-button to new line */
@media screen and (max-width: 1578px) {
    #detail-button {
    }
}

@media screen and (min-width: 1065px) {
    tr input {
        width: 140px;
    }

    tr input.date-picker {
        width: 158px;
    }
}