@import url(../button.css);
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

#items-table {
    margin: 20px 40px 0px;
}

#search {
    width: 150px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.table-container {
    overflow-y: auto;
}

.table-container table {
    background-color: #F4FCD9;
    white-space: nowrap;
    table-layout: fixed;
}

.table-container th {
    font-weight: 600;
    width: 160px;
}

/* prevent detail-btn overflow */
#head {
    width: 200px;
}

.cdk-drag-preview {
    opacity: 0.5;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-btn {
    position: absolute;
    top: 11px;
    left: -2px;
}


tr:hover {
    background-color: #E3CAA5;
}

tr input {
    width: 200px;
}

tr input.date-picker {
    width: 158px;
}

/* table button style */
table .tag {
    margin-left: 3px;
}

#detail-btn {
    position: relative;
    top: 7px;
}

#delete-btn {
    float: right;
    margin-right: 5px;
}

td {
    position: relative;
    padding: 1px;
    vertical-align: middle;
}

tr input {
    border: none;
    box-shadow: 0px 0px 0px 0px;
    background-color: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus {
    background-color: rgb(255, 255, 255);
}

.checkbox input {
    width: 40px;
    height: 15px;
}

i {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

#rating {
    margin-left: 10px;
    cursor: pointer;
}

.dropdown-content {
    width: 118px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.panel-block,
.panel-tabs {
    border-bottom: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

%no-boarder {
    border: 0px;
    outline: none;
    box-shadow: none;
}

:host ::ng-deep {

    .datetimepicker-dummy {

        .datetimepicker-dummy-wrapper {
            @extend %no-boarder;
            background-color: inherit;
        }

        .datetimepicker-dummy-wrapper:hover {
            @extend %no-boarder;
        }

        .datetimepicker-dummy-wrapper.is-active {
            @extend %no-boarder;
        }

        .datetimepicker-dummy-wrapper input {
            cursor: pointer;
            word-spacing: 0;
        }


        .datetimepicker-dummy-input:first-child {
            text-indent: 0;
        }

    }

    .datetimepicker-dummy-wrapper::before {
        display: none;
    }

    .datetimepicker-clear-button {
        display: none;
    }
}

@media screen and (max-width:1408px) {
    #detail-btn {
        left: -60px;
        opacity: 0.6;
    }
}

@media screen and (max-width:768px) {
    #search {
        width: 120px;
    }
}