<div id="items-table">
    <div class="level is-mobile">
        <div class="level-left">
            <h1 class="level-item title">Items</h1>
        </div>
        <div class="level-right">
            <input #search id="search" class="level-item input is-rounded" type="text" placeholder="Search"
                (keyup)="filterItems(search.value)">
            <button class="button is-rounded" (click)="itemModal.newItem()">Add</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <th id="head"><i class="fi fi-br-apple-whole"></i>Variety</th>
                <th><i class="fi fi-br-list"></i>Category</th>
                <th><i class="fi fi-br-clock"></i>SowDate</th>
                <th><i class="fi fi-br-clock"></i>BloomDate</th>
                <th><i class="fi fi-br-clock"></i>HarvestDate</th>
                <th><i class="fi fi-br-heart"></i>Rating</th>
                <th><i class="fi fi-br-check"></i>SaveSeed</th>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let item of items" (change)="editItem(item)" cdkDrag>
                    <td (mouseenter)="item.showDetailButton = true" (mouseleave)="item.showDetailButton = false">
                        <input type="text" class="input" [(ngModel)]="item.name">
                        <a id="detail-btn" [routerLink]="['/plant-detail', item.id]" class="tag"
                            *ngIf="item.showDetailButton">
                            <i class="fi fi-br-interlining"></i>
                            detail
                        </a>
                    </td>
                    <td><input type="text" class="input" [(ngModel)]="item.category"></td>
                    <td><input type="date" class="input date-picker is-unselectable" [(ngModel)]="item.sowDate"></td>
                    <td><input type="date" class="input date-picker is-unselectable" [(ngModel)]="item.bloomDate"></td>
                    <td><input type="date" class="input date-picker is-unselectable" [(ngModel)]="item.harvestDate">
                    <td>
                        <div class="dropdown" appClickToggle>
                            <div class="dropdown-trigger">
                                <span id="rating" class="is-unselectable .is-vcentered" aria-haspopup="true"
                                    aria-controls="dropdown-menu">
                                    <app-star-tag [count]="item.rating"></app-star-tag>
                                </span>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a *ngFor="let r of [5, 4, 3, 2, 1]" class="dropdown-item"
                                        (click)="setRating(r, item, $event)">
                                        <app-star-tag [count]="r"></app-star-tag>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="item.saveSeed">
                        </label>
                        <a id="delete-btn" class="tag is-danger" (click)="deleteModal.delteItem(item.id)">
                            delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<app-plant-item-modal (newItemEvent)="reloadPage()" #itemModal></app-plant-item-modal>
<app-delete-item-modal (deleteItemEvent)="reloadPage()" #deleteModal></app-delete-item-modal>