@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

.columns {
    margin: 10px;
}

.event {
    margin-top: 20px;
    cursor: pointer;
}

.event span {
    padding-left: 5px;
}

i {
    position: relative;
    top: 2px;
}

.level {
    margin-bottom: 10px;
}


#cards .title {
    padding-left: 20px;
    margin-bottom: 0px;
    color: #534340;
}

#left-content {
    padding-top: 20px;
    padding-left: 30px;
}

.textarea {
    background-color: #effaf5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
}

#add-btn {
    margin-right: 20px;
}

.masonry {
    display: grid;
    grid-auto-rows: 100px;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.masonry-item {
    margin-bottom: 30px;
}