@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

.columns {
    margin: 10px;
}

.event {
    margin-top: 20px;
    cursor: pointer;
}

.event span {
    padding-left: 5px;
}

i {
    position: relative;
    top: 2px;
}

.level {
    margin-bottom: 10px;
}


#cards .title {
    padding-left: 20px;
    margin-bottom: 0px;
    color: #534340;
}

#left-content {
    padding-top: 20px;
    padding-left: 30px;
}

.message {
    width: 320px;
}

.textarea {
    background-color: #effaf5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
}

#add-btn {
    margin-right: 20px;
    margin-left: 20px;
}

.card button {
    border: 0px;
    background-color: white;
}

.masonry {
    margin: 20px;
}

.masonry-item {
    width: calc(100%/3 - 34px);
    ;
    margin-bottom: 30px;
}

.dropdown-content {
    width: 120px;
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .masonry-item {
        width: calc(100%/2 - 34px);
        ;
    }
}

@media screen and (max-width: 1023px) {
    .masonry-item {
        width: calc(100% - 34px);
        ;
    }
}